.experience-card {
  border-left: 4px #6871d788 solid;
  padding: 20px;
  background-color: #6871d711;
  display: flex;
  margin: 10px;
}
.square {
  width: 20px;
  height: 20px;
  background-color: #6871d7;
  margin-right: 10px;
  display: block;
}

.experience-card h1 {
  font-weight: bold;
  font-size: 1.3rem;
}

.experience-card h2 {
  font-size: 1rem;
  font-weight: bold;
  color: #555;
}

.experience-card h3 {
  font-size: 0.9rem;
  color: #888;
}

.experience-card p{
    font-size: .9rem;
}