/* .contain {
  box-shadow: 0 0 30px #d4d4f9;
}

.navbar {
  position: sticky;
  left: 0;
  top: 0;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10000;
  background-color: #fff;
  padding: 20px;
}

.navbar h1 {
  font-size: 1.5rem;
}

.navbar h1 span {
  color: #6871d7;
}

.navbar i {
  font-size: 2rem;
  color: #6871d7;
}

.navbar label {
  cursor: pointer;
}

.navbar input[type="checkbox"] {
  display: none;
}

.navbar input[type="checkbox"]:checked ~ ul {
  box-shadow: 0 0 20px #0006;
  transform: translateX(0);
}

.navbar ul {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f5f6fc;
  list-style: none;
  transition: 0.5s ease;
  transform: translateX(100%);
}

.navbar ul > label {
  position: absolute;
  right: 0;
  top: 0;
  margin: 10px;
  padding: 10px;
}

.navbar ul li {
  width: 100%;
}

.navbar ul li label {
  color: #6871d7;
  text-decoration: none;
  font-size: 2rem;
  width: 100%;
  text-align: center;
  padding: 20px 0px;
  cursor: pointer;
}

.navbar ul li label:hover {
  background-color: #d4daff;
}

@media (max-width: 500px) {
  .navbar h1 {
    font-size: 1rem;
  }
  .navbar i {
    font-size: 1.5rem;
  }
} */

.lab {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 100000;
  box-shadow: 0 0 10px #000;
}

.lab .menu {
  position: absolute;
  right: -70px;
  top: -70px;
  z-index: 100;
  width: 150px;
  height: 150px;
  background: #6871d7;
  border-radius: 50% 50% 50% 50%;
  transition: 0.5s ease-in-out;
  box-shadow: 0 0 0 0 #6871d7, 0 0 0 0 #6871d7;
  cursor: pointer;
}
.lab .hamburger {
  position: absolute;
  top: 100px;
  left: 35px;
  width: 30px;
  height: 2px;
  background: #fff;
  display: block;
  transform-origin: center;
  transition: 0.5s ease-in-out;
}
.lab .hamburger:after,
.lab .hamburger:before {
  transition: 0.5s ease-in-out;
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background: #fff;
}
.lab .hamburger:before {
  top: -10px;
}
.lab .hamburger:after {
  bottom: -10px;
}
.lab input {
  display: none;
}
.lab input:checked + .menu {
  box-shadow: 0 0 0 100vw #6871d7, 0 0 0 100vh #6871d7;
  border-radius: 0;
}
.lab input:checked + .menu .hamburger {
  transform: rotate(45deg);
}
.lab input:checked + .menu .hamburger:after {
  transform: rotate(90deg);
  bottom: 0;
}
.lab input:checked + .menu .hamburger:before {
  transform: rotate(90deg);
  top: 0;
}
.lab input:checked + .menu + ul {
  opacity: 1;
  display: block;
  pointer-events: all;
}
.lab ul {
  display: none;
  z-index: 200;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: 0.25s 0s ease-in-out;
  list-style: none;
  width: 100%;
  text-align: center;
  pointer-events: none;
}
.lab a {
  margin-bottom: 1em;
  display: block;
  text-decoration: none;
  font-size: 2rem;
  color: #fff;
  width: 100%;
  
}
